@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: rgba(96, 117, 235, 0.3);
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}
<<<<<<< HEAD
@keyframes pulse-opacity {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}
=======
/* :root,
html,
body,
* {
  cursor: url(/red-dot.svg) 8 8, auto !important;
} */
@layer utilities {
  .animate-spin-slower {
    animation: spin 1.5s linear infinite;
  }
}

h2 {
  font-size: 1rem;
  font-weight: bold;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}
>>>>>>> simple
