.textarea-styles {
  // height: 100% !important;
  width: 100% !important;
  padding: 10px !important;
  resize: none !important;
  overflow: hidden;
  border: 1px solid rgb(173, 173, 173);
  // min-height: 2rem;
  transition: all 0.2s;
  border-radius: 4px;

  &:focus {
    border-color: #007bff !important;
  }
}

.placeholder {
  // outline: 1px dashed #105fd4;
  // outline: 1px dashed rgb(6, 77, 185);
  background: repeating-linear-gradient(45deg,
      /* угол наклона полос */
      black,
      /* первая полоса */
      black 4px,
      /* ширина чёрной полосы */
      yellow 4px,
      /* следующая начинается сразу после */
      yellow 8px
      /* ширина жёлтой полосы тоже 4px */
    );
  min-height: 15px;
  min-width: 15px;
}

.card {
  min-width: 50px !important;
  min-height: 30px !important;
  background: rgb(236, 236, 236) !important;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
}

.nextafterButton {
  transition: all 0.2s ease-in-out;
  opacity: 0;
  position: absolute;
  z-index: -1;
  color: "silver";
  background: gray;
  color: white;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transform: translateY(-50px);
  white-space: nowrap;
}

.prev:hover~.nextafterButton {
  transform: translateY(-60px);
  opacity: 1;
  z-index: 100;

}