.modalmessage-inner {
  background-color: whitesmoke;
  width: 50vw;
  max-width: 400px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}

.modalmessage-message {
  color: #000080;
  /* $deep-blue */
  font-style: italic;
  padding: 5px 0;
  margin: 0;
}