.form-check {
  position: relative;
  --radio-color: #b3f4f7;

  &--devider {
    --radio-color: #d0f8c3;
  }


}

.fildset-radio--preview {
  .form-check {
    min-height: 30px;
  }

  input[type="checkbox"]:not(:checked)+label::after,
  input[type="checkbox"]:checked+label::after {
    display: none !important;
  }

  input[type="radio"]:checked+label,
  input[type="radio"]:not(:checked)+label {

    position: absolute !important;
    left: 30px !important;


    &:hover {
      color: rgb(29, 128, 1, 25%) !important;
    }
  }

  input[type="radio"]:checked+label::before,
  input[type="radio"]:not(:checked)+label::before {
    content: "";
    position: absolute;
    left: -25px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    background-color: transparent !important;

  }

  input[type="radio"]:not(:checked)+label::before {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: solid 2px var(--primary);
  }

  input[type="radio"]:checked+label>span::after,
  input[type="radio"]:not(:checked)+label>span::after {
    display: none;
  }


  input[type="radio"]:checked+label>span,
  input[type="radio"]:not(:checked)+label>span {
    content: "";
    position: absolute !important;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    top: 50%;
    left: -22px;
    transform: translate(1%, -50%);
    border: solid 2px var(--primary);
    background-color: var(--primary);
    transition: all .3s;
  }

  input[type="radio"]:checked+label>span {
    opacity: 1;
  }

  input[type="radio"]:not(:checked)+label>span {
    opacity: 0;
  }
}