// .form-check {
//   position: relative;
//   --radio-color: #b3f4f7;

//   &--devider {
//     --radio-color: #d0f8c3;
//   }


// }



.form-radio .checkClasses {
  // .form-check {
  //   min-height: 30px;
  // }
  position: relative;

  input[type="radio"]:checked+label::before,
  input[type="radio"]:not(:checked)+label::before {
    content: "";
    position: absolute;
    left: -25px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    background-color: transparent !important;

  }

  input[type="radio"]:not(:checked)+label::before {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: solid 2px var(--primary);
  }



  input[type="radio"]:checked+label>span,
  input[type="radio"]:not(:checked)+label>span {
    content: "";
    position: absolute !important;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    top: 50%;
    left: -22px;
    transform: translate(1%, -50%);
    border: solid 2px var(--primary);
    background-color: var(--primary);
    transition: all .3s;
  }

  input[type="radio"]:checked+label>span {
    opacity: 1;
  }

  // input[type="radio"]:not(:checked)+label>span {
  //   opacity: 0;
  // }
}

// .form-check {
//   &:not(.checkClasses) .fildset-radio {

//     input[type="radio"]:checked+label>span::after,
//     input[type="radio"]:not(:checked)+label>span::after {
//       display: none;
//     }
//   }


//   &.checkClasses .fildset-radio {

//     input[type="radio"]:checked+label>span::after,
//     input[type="radio"]:not(:checked)+label>span::after {
//       display: block !important;
//     }
//   }
// }